/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: ;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* NAV PART */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 170px;
    height: auto;
}

.logo-text {
    font-size: 1.5rem;
    margin-left: 8px;
    margin-top: 10px;
}

nav {
    background-color: #540b51;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

nav img{
    flex: 0; /*Don't grow or shrink */
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;

}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 14px; 
    margin-top: 10px;
    margin-bottom: 10px;
  }

nav button {
    background-color: #540b51;
    border: none;
    cursor: pointer;
}

nav button img {
    max-width: 100%;
    height: auto;
}

  @media only screen and (min-width: 1024px) {
    #nav-items {
        nav{
            flex-direction: column;
            align-items: flex-start;
        }
      display: block;
    }
  }

  nav ul:last-child {
    display: none;
  }

/* HEADER PART */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #540B51;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > div {
    max-width: 600px;
}

header h1{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

header p {
    color: white;
    text-align: center;
}

header p span {
    color: #ECB12F;
}


/* Style for the buttons container */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.signup-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.signup-button img {
    width: 20px;
    height: auto;
    margin-right: 5px;
    margin-top: 5px;
}

.google-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #4285F4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.google-button img {
    width: 20px;
    height: auto;
    margin-right: 5px;
    margin-top: 5px;
}

.screenshot-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

/* MAIN part */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

main > section:first-child {
    text-align: center;
    background-color: #F3EAE2;

}

main > section:first-child p {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 30px;
}

main > section:first-child div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main > section:first-child img {
    max-width: 100%;
    max-height: 80px;
    margin: 20px;

}

main > section:nth-child(2) {
    text-align: center;
    margin: 50px 0;
    width: 50vw;
    background-color: white;
 }

main > section:nth-child(2) h3 {
color: #540B51;
font-size: 2.5rem;
margin-bottom: 10px;
}

main > section:nth-child(2) p {
    font-size: 1.2rem;
}

main > section:nth-child(2) ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > section:nth-child(2) ul li p:first-child {
    color: #540B51;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

main > section:nth-child(2) ul li p:last-child {
    color: black; 
    font-weight: bold;
    font-size: 1.5rem;
}

main > section:last-child {
    background-color: #540B51;
    text-align: center;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main > section:last-child h3 {
    font-size: 2.5rem;
}

main > section:last-child button:first-child {
    background-color: white;
    color: #540B51;
    text-transform: capitalize;
    font-weight: bold;
}

main > section:last-child button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

main > section:last-child button:last-child {
    background-color: #540B51;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    
}